.error_container {
    max-width: 200px;
    min-width: 320px;
    min-height: 120px;
    max-height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px;
    margin: 20vw auto;
    background-color: #fff;
    border-radius: 8px;
}

.error_title {
    margin: 0;
    font-family: inherit;
    font-size: 18px;
    color: black;
    text-align: center;
}

.error_button {
    width: 95px;
    height: 30px;
    color: #fff;
    background-color: #0d6efd;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    text-align: center;
    padding: 5px;

}

.error_button:hover {
    background-color: #0b5ed7;
}